<h1><%=@user.first_name%> Profile</h1>
<% @user.posts.each do |post| %>
  <% if User.are_friends? current_user.id , @user.id or post.is_public %>
    <p> <%= post.caption %> </p>
    <p> <%= post.image %> </p>
    <p> <%= post.posted_time %> </p>
    <p> <%= post.is_public %> </p>
    <ul>
      <li><%=link_to "Show Post", user_post_path(user_id: @user, id: post.id) %></li>
    </ul>
  <%end%>
<%end%>

<ul>
    <li><%=link_to "Create Post", new_user_post_path(@user)%></li></br></br>
    <li><%= link_to "Home", user_path(current_user)+'/home'%></li>
    <li><%= link_to @user.first_name+" Info", user_path(@user)%></li></br></br>
    <li><%= link_to "Log out", session_path(@user),method: :delete %></li>  
    <li><%= link_to "Send Request", invitations_path, method: :post %></li>  
</ul>
